<ion-view view-title="About">
  <ion-content>
    <div class="content padding">
      <h2>Neos Consulting</h2>
      <p>Freelance website and app development with user experience (UX) and user interface (UI) design services.</p>
      <p>Find our more about <a href="#/app/services">services</a>, project <a href="#/app/cost">pricing</a> or how to <a href="#/app/contact">contact me</a>.</p>
      <img src="img/neos-clear.png" class="center-image" alt="Neos" />
    </div>
  </ion-content>
</ion-view>
