<ion-view view-title="Contact">
  <ion-content>
    <div class="content padding">
      <h2>Contact Me</h2>
      <a href="mailto:tyler@neosmedia.ca?subject=Information Enquiry - Neos App" class="button button-block">Email</a>
      <p class="text-center">or</p>
      <a href="tel:1+604-787-8130" class="button button-block">Call me</a>
    </div>
  </ion-content>
</ion-view>
