<ion-view view-title="Cost">
  <ion-content>
    <div class="content padding" data-ng-app="">
    <h2>Cost Calculator</h2>
    <p>Calculate the cost of building a website or mobile app. First enter the number of pages or screens below, including sub sections.</p>
    <form>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-pound dark placeholder-icon"></i>
          <input type="number" ng-model="opts.val1" placeholder="Number of pages / screens" autofocus>
        </label>
      </div>
      <p>Options:</p>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="opts.val6">
        </label>
        Website Design ($1,050)
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="opts.val7">
        </label>
        Mobile App ($3,500)
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="opts.val2">
        </label>
        E-commerce ($5,000)
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="opts.val3">
        </label>
        Content Managment System ($350)
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="opts.val4">
        </label>
        Member Login ($850)
      </div>
      <div class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="opts.val5">
        </label>
        Chat Functionality ($1,500)
      </div>
    </form>

    <h1><small>Project Total*</small> <stong>${{ computedTotal() | number : fractionSize }}</stong></h1>

    <p>*This is just an estimate, <a href="#/app/contact">contact me</a> for detailed quote. Taxes domain name and web hosting not included.</p>

    <hr />

    <h2>Rates</h2>

    <ul class="bullet-list">
      <li>$70/hour - Web design and development. Graphic design and User Experience design.</li>
      <li>$85/hour - Mobile App design and development. Search Engine Optimization (SEO) and Google Webmaster Tools.</li>
    </ul>

    <h2>Packages</h2>

    <p>We have small business packages that have everything you need to get up and running in a few weeks. Packages from <strong>$3,200 to $6,600</strong> and up. Visit <a href="http://www.northvanweb.com/get-online/">our packages webpage</a> or <a href="#/app/contact">contact me</a> for more info.</p>


    </div>
  </ion-content>
</ion-view>
