<ion-view view-title="Services">
  <ion-content>
    <div class="content padding">
      <h2>Services</h2>
      <p>Neos Consulting offers website and app design and development including user experience (UX) design, HTML, CSS and Javascript. Neos can help take your project from concept to completion with support.</p>
      <img src="img/html-css-js.png" class="full-image" alt="HTML, CSS and Javascript" />
      <p>Find out more about <a href="#/app/cost">project cost and packages</a>.</p>
    </div>
  </ion-content>
</ion-view>
