/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$energized:                       #FECD08 !default;
$dark:                            #222 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Customization after imports so variables work

.center-image {
  width: 190px;
  height: 190px;
  top: calc(50% - 95px);
  left: calc(50% - 95px);
  position: relative;
}

.bullet-list {
  list-style-type: disc;
  margin-left: ($content-padding * 2);
}
